[submodule "raylee-tldr"]
	path = raylee-tldr
	url = https://github.com/raylee/tldr-sh-client.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible.git
